@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

:root {
    --circle-color-1: #0ff;
    --circle-color-2: #cf33ff;
    --circle-color-3: #00a4a5;
    --circle-size: 400px;
}

.ui-for-ai {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    filter: contrast(1.9);
    animation: fade-in 3s forwards, morph-animation 10s infinite;
    transition: all 3.5s;
    max-width: 80vh;
    max-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.circle {
    position: absolute;
    inset: 0;
    border: 1px solid;
    margin: 1rem;
    animation: morph-animation 3s linear infinite, rotate 11s linear infinite;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 40%;
    transition: all 3.5s;
    width: 100%;
    width: 100%;
    z-index: 1;
    pointer-events: none;
}

.circle:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 5px currentColor;
    animation: morph-animation 4s linear infinite reverse, rotate 10s linear infinite;
    pointer-events: none;
}

.circle:nth-child(1),
.circle:nth-child(1):before {
    color: var(--circle-color-1);
    animation-direction: reverse;

}

.circle:nth-child(2),
.circle:nth-child(2):before {
    color: var(--circle-color-2);
    animation-delay: 0.5s;
}

.circle:nth-child(3),
.circle:nth-child(3):before {
    color: var(--circle-color-3);
    animation-delay: 1s;
    filter: blur(10px);
}


.result-ai {
    opacity: 0;
    animation: fade-in 3s forwards;
    color: white;
    font-size: 2rem;
    animation-delay: 1.5s;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    position: absolute;
}

.result-ai-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    animation: morph-animation 3s linear infinite;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes morph-animation {
    0% {
        border-top-left-radius: 36%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 40%;
    }

    50% {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
        border-top-right-radius: 50%;
    }

    100% {
        border-top-left-radius: 36%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 40%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Status */
[class="ui-for-ai"] {
    height: var(--circle-size);
    width: var(--circle-size);
}

[class="ui-for-ai loading"] {
    width: var(--circle-size);
    height: var(--circle-size);
    animation: rotate 3s linear infinite;
}

[class="ui-for-ai success"] {
    width: 100%;
    height: 100%;
}
